.mat-mdc-form-field {
  margin-top: 16px;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.suivant{
  background-color: #ffab40;
}

.back{
  background-color:#dd2251;
  margin-right: 20px;
}

.rubrique{

  background-color: #000000;
  border-radius: 5px;
  color: whitesmoke;
  padding-left: 10px;
  
}

/* .select{
  display: none;
} */


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}